USER
<!--1. User applying        :   apply.html                      Remove entirely. User privilege is access to data. Enough-->
    2. teams_view           :   teams_view
    3. Players_view         :   Players_view
4. I need to add JOIN, AGGR, Nested functions somewhere                 Where to add below query????????

JOIN - RETURNS LIST OF PLAYERS WHOSE SPORT IS ""
AGGR - RETURN HIGHEST AND LOWEST SCORE BY ANY TEAM 
NESTED - same as above. Return only the name 

SELECT teams WHERE max(age) = 20  takes JOIN (teams, players), AGGR(AVG), NESTED      (SELECT team_name FROM (JOIN))          Me/V





ADMIN
    ALL DONE RIGHT?         Confirmed YES!





Others
1. CSS                                                                      V
2. Check if register works                                                  Me
3. Change pictures and first page text                                      Me
4. Adding to 3rd point, mainly in Webpage and user_dashboard                Me
